/* src/styles/LegalPages.css */
.legal-container {
  max-width: 800px;
  margin: 5rem auto 2rem auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.legal-container h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #d2b109;
}

.legal-container h2 {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #444;
}
